* {
  box-sizing: border-box;
  background: linear-gradient(-90deg, rgb(240, 240, 245), rgb(250, 250, 250));
  font-family: "Lato", sans-serif;
}

h1,
h2 {
  font-family: "Hepta Slab", "Lato";
}

button,
input {
  background: rgb(216, 216, 201);
  color: rgb(18, 16, 16);
}
